@font-face {
  font-family: "Mosk";
  src: url("/fonts/mosk-typeface/Mosk-Thin-100.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/mosk-typeface/Mosk-Extra-Light-200.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/mosk-typeface/Mosk-Light-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/mosk-typeface/Mosk-Normal-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/mosk-typeface/Mosk-Medium-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/mosk-typeface/Mosk-Semi-Bold-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/mosk-typeface/Mosk-Bold-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/mosk-typeface/Mosk-Extra-Bold-800.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("/fonts/mosk-typeface/Mosk-Ultra-Bold-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.borderAll {
  border: 1px solid white;
}
.borderAllBlue {
  border: 2px solid blue;
}
.borderAllRed {
  border: 1px solid red;
}

.header-fonts {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}

@keyframes spiral {
  0% {
    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 0 solid transparent;
  }
  100% {
    border-top: 8px solid #ff6347;
    border-right: 8px solid #ff6347;
    border-bottom: 8px solid #ff6347;
    border-left: 8px solid #ff6347;
    /* Add some rotation or grow/shrink effect to simulate a spiral */
  }
}

.spiral-border {
  width: 100%;
  height: 100px;
  animation: spiral 5s infinite;
}
